@layer theme, base, mantine, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@utility container {
	margin-inline: auto;
	padding-inline: 0.75rem;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-poppins);
	--font-monda: var(--font-monda);
	--font-inter: var(--font-inter);

	--animate-blink: blink 0.3s ease-in-out infinite;
	@keyframes blink {
		0% {
			border-color: var(--mantine-color-yellow-9);
			opacity: 0.5;
		}
		40%,
		60% {
			border-color: var(--mantine-color-yellow-2);
			opacity: 1;
		}
		100% {
			border-color: var(--mantine-color-yellow-9);
			opacity: 0.5;
		}
	}
}
